body {
	background: url("https://media.giphy.com/media/iadR12yMibCJW/giphy.gif");
	font-size: 12px;
	line-height: 15px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #fff;
}
h1, p {
	margin-bottom: 20px;
}
h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: 700;
}
h1 {
	font-size: 30px;
	line-height: 49px;
	border-bottom: 3px solid #ddd;
	padding-bottom: 20px;
}
div{
	margin: 20px;
	padding: 10px;
}
.footer {
	line-height: 20px;
	position: fixed;
	font-size: 15px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(70, 8, 8);
    color: white;
    text-align: center;
    padding: 12px;   
 }
